@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/Gagalin/Gagalin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/Ubuntu/Ubuntu-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/Ubuntu/Ubuntu-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lifehackmedium';
    src: url('../fonts/Lifehack-Medium.woff')  format('woff');
    font-weight: normal;
    font-style: normal;
}